src/META-INF/wsdl/localhost_8080/FinancasServer/FinancasService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="FinancasService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/FinancasServer/FinancasService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTotal">
<part name="parameters" element="tns:getTotal"/>
</message>
<message name="getTotalResponse">
<part name="parameters" element="tns:getTotalResponse"/>
</message>
<message name="listarMovimentos">
<part name="parameters" element="tns:listarMovimentos"/>
</message>
<message name="listarMovimentosResponse">
<part name="parameters" element="tns:listarMovimentosResponse"/>
</message>
<message name="listarCategorias">
<part name="parameters" element="tns:listarCategorias"/>
</message>
<message name="listarCategoriasResponse">
<part name="parameters" element="tns:listarCategoriasResponse"/>
</message>
<message name="inserirCategoria">
<part name="parameters" element="tns:inserirCategoria"/>
</message>
<message name="inserirCategoriaResponse">
<part name="parameters" element="tns:inserirCategoriaResponse"/>
</message>
<message name="inserirMovimento">
<part name="parameters" element="tns:inserirMovimento"/>
</message>
<message name="inserirMovimentoResponse">
<part name="parameters" element="tns:inserirMovimentoResponse"/>
</message>
<message name="deletarMovimento">
<part name="parameters" element="tns:deletarMovimento"/>
</message>
<message name="deletarMovimentoResponse">
<part name="parameters" element="tns:deletarMovimentoResponse"/>
</message>
<message name="deletarCategoria">
<part name="parameters" element="tns:deletarCategoria"/>
</message>
<message name="deletarCategoriaResponse">
<part name="parameters" element="tns:deletarCategoriaResponse"/>
</message>
<message name="atualizarMovimento">
<part name="parameters" element="tns:atualizarMovimento"/>
</message>
<message name="atualizarMovimentoResponse">
<part name="parameters" element="tns:atualizarMovimentoResponse"/>
</message>
<message name="atualizarCategoria">
<part name="parameters" element="tns:atualizarCategoria"/>
</message>
<message name="atualizarCategoriaResponse">
<part name="parameters" element="tns:atualizarCategoriaResponse"/>
</message>
<portType name="FinancasService">
<operation name="getTotal">
<input wsam:Action="http://ws/FinancasService/getTotalRequest" message="tns:getTotal"/>
<output wsam:Action="http://ws/FinancasService/getTotalResponse" message="tns:getTotalResponse"/>
</operation>
<operation name="listarMovimentos">
<input wsam:Action="http://ws/FinancasService/listarMovimentosRequest" message="tns:listarMovimentos"/>
<output wsam:Action="http://ws/FinancasService/listarMovimentosResponse" message="tns:listarMovimentosResponse"/>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://ws/FinancasService/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://ws/FinancasService/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="inserirCategoria">
<input wsam:Action="http://ws/FinancasService/inserirCategoriaRequest" message="tns:inserirCategoria"/>
<output wsam:Action="http://ws/FinancasService/inserirCategoriaResponse" message="tns:inserirCategoriaResponse"/>
</operation>
<operation name="inserirMovimento">
<input wsam:Action="http://ws/FinancasService/inserirMovimentoRequest" message="tns:inserirMovimento"/>
<output wsam:Action="http://ws/FinancasService/inserirMovimentoResponse" message="tns:inserirMovimentoResponse"/>
</operation>
<operation name="deletarMovimento">
<input wsam:Action="http://ws/FinancasService/deletarMovimentoRequest" message="tns:deletarMovimento"/>
<output wsam:Action="http://ws/FinancasService/deletarMovimentoResponse" message="tns:deletarMovimentoResponse"/>
</operation>
<operation name="deletarCategoria">
<input wsam:Action="http://ws/FinancasService/deletarCategoriaRequest" message="tns:deletarCategoria"/>
<output wsam:Action="http://ws/FinancasService/deletarCategoriaResponse" message="tns:deletarCategoriaResponse"/>
</operation>
<operation name="atualizarMovimento">
<input wsam:Action="http://ws/FinancasService/atualizarMovimentoRequest" message="tns:atualizarMovimento"/>
<output wsam:Action="http://ws/FinancasService/atualizarMovimentoResponse" message="tns:atualizarMovimentoResponse"/>
</operation>
<operation name="atualizarCategoria">
<input wsam:Action="http://ws/FinancasService/atualizarCategoriaRequest" message="tns:atualizarCategoria"/>
<output wsam:Action="http://ws/FinancasService/atualizarCategoriaResponse" message="tns:atualizarCategoriaResponse"/>
</operation>
</portType>
<binding name="FinancasServicePortBinding" type="tns:FinancasService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMovimentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletarMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarMovimento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FinancasService">
<port name="FinancasServicePort" binding="tns:FinancasServicePortBinding">
<soap:address location="http://localhost:8080/FinancasServer/FinancasService"/>
</port>
</service>
</definitions>